::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #dca955; /* Tailwind's yellow-500 */
  border-radius: 9999px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #dca955 transparent;
}